{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Header -->
  <header class="w3-container " style="padding-top:22px">
    <h5><b>My task statistic</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><img src="{% static 'images/tasks_all.svg' %}" alt="tasks-all" style="width:56px;height:56px;"></div>
        <div class="w3-right">
          <h3>{{ tasks.all.count }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>All tasks owned</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><img src="{% static 'images/tasks_progress.svg' %}" alt="tasks-progress" style="width:56px;height:56px;"></div>
        <div class="w3-right">
          <h3>{{ num_not_completed_tasks }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Tasks in progress</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><img src="{% static 'images/tasks-completed.svg' %}" alt="tasks-completed" style="width:56px;height:56px;"></div>
        <div class="w3-right">
          <h3>{{ num_completed_tasks }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Completed tasks</h4>
      </div>
    </div>
  </div>

  <div class="w3-container">
    <h5>Current project</h5>
    <div class="w3-button">
      <img src="{% static 'images/project.svg' %}" alt="logout" style="width:18px;height:18px;">
      <a href="{% url 'task_manager:project-detail' pk=project.id %}">
        <b>{{ project.project_name }}</b>
      </a>
    </div>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">Completed: NUM_COMPLETED / NUM_ALL </div>
    </div>
  </div>
  <hr>

  <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-twothird">
              <h5>Current tasks</h5>
              {% include "includes/task_table.html" with tasks=tasks|slice:":10" show_active=True show_overdue=True show_completed=False %}
          </div>
      </div>
  </div>

  <hr>

  <div class="w3-container">
    <h5>My team:</h5>
    {% include 'includes/team_list.html' with workers=team_workers image_size=35 line_size="large" empty_text="You alone in this team" %}
  </div>
  <hr>
{% endblock %}