{% extends 'base.html' %}

{% block content %}
  <div class="w3-container">
    <h1>
      <button onclick="accordion_function('project_links')" class="w3-button w3-block w3-green w3-left-align">Projects▼</button>
    </h1>
    <div id="project_links" class="w3-hide accordion_filters">
      <a class="w3-button w3-block w3-left-align w3-green" href="{% url 'task_manager:worker-create' %}?next={{ request.path }}">Add new worker</a>
      <button onclick="accordion_function('search')" class="w3-button w3-block w3-green w3-left-align">Search▼</button>
      <div id="search" class="w3-hide accordion_filters-double-margin">
        {% include 'includes/search_form.html' %}
      </div>
      <br>
    </div>
    <table class="w3-table w3-striped w3-white" >
      {% for project in project_list %}
        {% if project.status == "Active" and project.deadline >= current_date %}
          {% include "includes/project_table.html" with color="blue" content="Deadline: " is_active=True %}
        {% endif %}

        {% if project.status == "Active" and project.deadline < current_date %}
          {% include "includes/project_table.html" with color="red" content='<div style="color: red">OVERDUE!</div> Deadline: ' is_active=True %}
        {% endif %}

        {% if project.status == "Completed"%}
          {% include "includes/project_table.html" with color="green" content="<div style='color: greeb'>Completed!</div>" is_active=False %}
        {% endif %}

        {% if project.status == "Canceled"%}
          {% include "includes/project_table.html" with color="orange" content='<div style="color: purple">Canceled</div>' is_active=False %}
        {% endif %}

        {% if project.status == "On Hold"%}
          {% include "includes/project_table.html" with color="gray" content='<div style="color: dark-gray">On hold</div>' is_active=False %}
        {% endif %}

      {% empty %}
      No projects!
      {% endfor %}
    </table>
  </div>
  {% include 'includes/accordion_function.html' %}

{% endblock %}