{% extends 'base.html'%}
{% load static %}

{% block content %}
  <div class="w3-container">
    <h1>
      <button onclick="accordion_function('project_links')" class="w3-button w3-block w3-green w3-left-align">Workers▼</button>
    </h1>
    <div id="project_links" class="w3-hide accordion_filters">
      <a class="w3-button w3-block w3-left-align w3-green" href="{% url 'task_manager:worker-create' %}?next={{ request.path }}">Add new worker</a>
      <button onclick="accordion_function('search')" class="w3-button w3-block w3-green w3-left-align">Search▼</button>
      <div id="search" class="w3-hide accordion_filters-double-margin">
        {% include 'includes/search_form.html' %}
      </div>
      <br>
    </div>
    <table class="w3-table w3-striped w3-white" >
      {% for worker in worker_list %}
        <tr class="w3-hover-blue" onclick="location.href='{% url 'task_manager:worker-detail' pk=worker.pk %}';" style="cursor: pointer;">
          <td>{{ worker.username }}</td>
          <td>{{ worker.first_name }}</td>
          <td>{{ worker.last_name }}</td>
          <td>{{ worker.team }}</td>
        </tr>
      {% empty %}
      No workers!
      {% endfor %}
    </table>
  </div>
  {% include 'includes/accordion_function.html' %}
{% endblock %}
